@import "/src/assets/scss/colors.scss";

.contacts {
  width: 100%;
  height: auto;
  min-height: 45rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 500;

  &__header {
    font-size: 26px;
    font-weight: 600;
  }
  * {
    transition: 1s ease;
  }
}
.contacts-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 2rem;
}

.contacts__info {
  display: flex;
  flex-direction: column;
  margin-left: 6rem;

  &__elem {
    margin-top: 1rem;

    &-value {
      color: $black;
    }
    &-field {
      color: gray;
    }
    &-email {
      &:hover {
        color: $blue-accent;
      }
    }
    &-link {
      &:hover {
        transform: scale(1.1);
      }
      &:after {
        position: absolute;
        content: "";
        bottom: -5px;
        display: block;
        width: 0;
        height: 5px;
        background: $blue;
        transition: 0.3s;
      }
      &:after {
        left: 50%;
        transform: translate(-50%);
      }
      &:hover:after {
        width: 100%;
      }
    }
  }

  :first-child {
    font-size: 27px;
  }
}

.map-wrapper {
  margin-top: 6rem;
  article {
    span {
      font-family: "Open Sans";
      font-size: 25px;
      font-weight: 500;
    }
  }
}
.map {
  margin-top: 2rem;
}
